services:
  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile.dev
    container_name: planea-backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - PORT=8080
    volumes:
      - ./Backend/src:/app/src
      - /app/node_modules
    command: npm run dev
    restart: unless-stopped
    dns:
      - 8.8.8.8
      - 8.8.4.4
      - 1.1.1.1

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile.dev
    container_name: planea-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    env_file:
      - .env
    environment:
      - VITE_API_URL=http://localhost:8080
    volumes:
      - ./Frontend:/app
      - /app/node_modules
    command: npm run dev
    restart: unless-stopped
    dns:
      - 8.8.8.8
      - 8.8.4.4
      - 1.1.1.1
